.header-mamma-mia {
  position: relative;
  height: 250px;
  background-image: url('/src/assets/img/Header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.header-mamma-mia::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55); /* oscurecer con 55% negro */
  z-index: -1;
}
